body {
  background-color: #ffffff;
}

h1 {
  font-size: 49.2px;
}

h2 {
  font-size: 24px;
  color: #9b9b9b;
  font-weight: normal;
}

h3 {
  font-size: 22px;
  letter-spacing: 5px;
  font-weight: bold;
  line-height: 15px;
}

h4 {
  font-size: 15px;
  letter-spacing: 5px;
  font-weight: bold;
  line-height: 15px;
}

.selected {
  color: #50e3c2;
  font-weight: bolder;
}